[submodule "basesite"]
	path = basesite
	url = git@github.com:Task-Web/basesite.git
[submodule "careerlink_web"]
	path = careerlink_web
	url = git@github.com:Task-Web/careerlink_web.git
[submodule "budgetwise_web"]
	path = budgetwise_web
	url = git@github.com:Task-Web/budgetwise_web.git
[submodule "cloudcrm_web"]
	path = cloudcrm_web
	url = git@github.com:Task-Web/cloudcrm_web.git
[submodule "eventix_web"]
	path = eventix_web
	url = git@github.com:Task-Web/eventix_web.git
[submodule "expenseflow_web"]
	path = expenseflow_web
	url = git@github.com:Task-Web/expenseflow_web.git
[submodule "formcraft_web"]
	path = formcraft_web
	url = git@github.com:Task-Web/formcraft_web.git
[submodule "mailhub_web"]
	path = mailhub_web
	url = git@github.com:Task-Web/mailhub_web.git
[submodule "streamview_web"]
	path = streamview_web
	url = git@github.com:Task-Web/streamview_web.git
[submodule "teamchat_web"]
	path = teamchat_web
	url = git@github.com:Task-Web/teamchat_web.git
[submodule "vaultbank_web"]
	path = vaultbank_web
	url = git@github.com:Task-Web/vaultbank_web.git
[submodule "visaapplication_web"]
	path = visaapplication_web
	url = git@github.com:Task-Web/visaapplication_web.git
[submodule "calendar_web"]
	path = calendar_web
	url = git@github.com:Task-Web/calendar_web.git
[submodule "travelhub_ad_web"]
	path = travelhub_ad_web
	url = git@github.com:Task-Web/travelhub_ad_web.git
[submodule "dinogame_web"]
	path = dinogame_web
	url = git@github.com:Task-Web/dinogame_web.git
[submodule "reviewsphere_web"]
	path = reviewsphere_web
	url = git@github.com:Task-Web/reviewsphere_web.git
[submodule "overleaf_web"]
	path = overleaf_web
	url = git@github.com:Task-Web/overleaf_web.git
[submodule "awsconsole_web"]
	path = awsconsole_web
	url = git@github.com:Task-Web/awsconsole_web.git
[submodule "wandb_web"]
	path = wandb_web
	url = git@github.com:Task-Web/wandb_web.git
[submodule "glbviewer_web"]
	path = glbviewer_web
	url = git@github.com:Task-Web/glbviewer_web.git
[submodule "slidepuzzle_web"]
	path = slidepuzzle_web
	url = git@github.com:Task-Web/slidepuzzle_web.git
